.users__wrapper {
  margin: 30px;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user__left {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.user__info {
  display: flex;
  border: rgb(126, 122, 122) 2px solid;
  border-radius: 10px;
  width: 600px;
}

.user__nameStatusWrapper {
  margin: 10px;
  margin-left: 20px;
  width: 50%;
}

.user__cityCountryWrapper {
  margin: 10px;
  margin-right: 20px;
  width: 50%;
  text-align: right;
}

.user__name {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
}

.user__status {

}

.user__city {
  font-weight: bold;
}

.user__country {
  margin-bottom: 20px;
  font-weight: bold;
}

.user__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.loading {
  font-weight: bold;
  font-size: 64px;
  height: 100%;
  text-align: center;
  width: 100%;
}

.pagesNumber__wrapper {
  font-size: 22px;
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

.pagesNumber {
  cursor: pointer;
}

.pagesNumber:hover {
  color: yellow;
}

.pagesNumber_active {
  color: red;
  cursor: pointer;
}

.showMore__wrapper {
  font-size: 22px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.showMore__wrapper:hover {
  color: yellow;
}

.showMore__icon {
  max-width: 40px;
  margin-right: 10px;
}

.showMore_button {
  vertical-align: 50%;
}
