.header {
    grid-area: header;
    background-color: darkolivegreen;
    display: flex;
    align-items: center;
  }
  
.header__img {
    width: 50px;
    background-color: darkred;
    margin-left: 10px;
}

.header__text {
  margin: 0 auto;

}
