.dialogsWrapper{
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs {
  margin: 10px;
}

.dialogs__dialog a {
  color: black;
  text-decoration: none;
}

.dialogs__dialog a:hover {
  color: yellow;
}

.dialogs__dialog a.active {
  color: red;
}

.messages {
  margin: 10px;
}

.messages__message {
  margin-bottom: 10px;
}


