.pagesNumber__wrapper {
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.pagesNumber {
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}

.pagesNumber:hover {
  color: yellow;
}

.pagesNumber_active {
  color: red;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}

.showMore__wrapper {
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.showMore__wrapper:hover {
  color: yellow;
}

.showMore__icon {
  max-width: 40px;
  margin-right: 10px;
}

.showMore_button {
  vertical-align: 50%;
}
